body {
    background-color: black;
}
.nav-wrapper, #landing_text, #auto_text, #movie_type_text, .root_text, #title_movie_txt, .td_text{
    font-family:'Josefin Sans', sans-serif;
    /* font-size: 60px; */
}
.root_text, #title_movie_txt{
    text-align: center;
}
#landing_text, #title_movie_txt{
    /* margin-bottom: -80px; */
    font-size: 90px;
}
#movie_type_text, #auto_text{
    font-size: 20px;
}
.td_text{
    font-size: 15px;
}
a #nav_icon{
    height: 60px;
    width: auto;
    padding: 5px;
}
#landing_logo {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 150px;
}
#landing{
    height: 100vh;
    background-image: url("img/adult-casual_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#p1{
    height: 300px;
    background-image: url("img/heart_poppcorn.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    font-family:'Josefin Sans', sans-serif;
    color: black;
}
#img1, #img2{
    height: 30px;
    width: auto;
}
h5{
    margin-bottom: -60px;
}
.carousel-item{
   opacity: 1 !important;
}
